.home_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}
.home_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px ;
}